<div class="offers editor">
    <h1>{{editor.title}}</h1>
    <div class="panel">
        <ul class="steps inline">
            <li class="step" ui-sref="giver.dashboard.offers.edit.step1" ui-sref-active="active">Offer info</li>
            <li class="step" ui-sref="giver.dashboard.offers.edit.step2" ui-sref-active="active">Partners info</li>
            <li class="step" ui-sref="giver.dashboard.offers.edit.step3" ui-sref-active="active">Additional info</li>
            <li class="step" ui-sref="giver.dashboard.offers.edit.step4" ui-sref-active="active">Graphic materials</li>
            <li class="step" ui-sref="giver.dashboard.offers.edit.step5" ui-sref-active="active">Date info</li>
            <li class="step" ui-sref="giver.dashboard.offers.edit.step6" ui-sref-active="active">Gift info</li>
        </ul>
        <div ui-view="container" class="inline"></div>
    </div>
</div>