<div class="form-field" error="title">
    <div class="form-title">Offer title</div>
    <div class="form-controls">
        <input type="text" placeholder="McDonalds" class="form-input" ng-model="step1.offer.title">
    </div>
    <div class="form-hint">{{serverErrors.title||'*offer name'}}</div>
</div>
<div class="form-field" error="full_info">
    <div class="form-title">Offer description</div>
    <div class="form-controls">
        <input type="text" placeholder="Tell users about your gift & offer…" class="form-input"
               ng-model="step1.offer.full_info">
    </div>
    <div class="form-hint">{{serverErrors.full_info||'*required field'}}</div>
</div>
<div class="form-field" error="comment_template">
    <div class="form-controls">
        <input type="text" placeholder="Comment template" class="form-input" ng-model="step1.offer.comment_template">
    </div>
    <div class="form-hint">{{serverErrors.comment_template}}</div>
</div>
<div class="form-field">
    <div class="form-controls">
        <tag-input placeholder="Hashtags" taglist='step1.offer.hashtags' class="form-input"></tag-input>
    </div>
</div>
<div class="form-field" error="facebook_object_id">
    <div class="form-controls">
        <input type="text" placeholder="Link on your Facebook group" class="form-input"
               ng-model="step1.offer.facebook_object_id">
    </div>
    <div class="form-hint">{{serverErrors.facebook_object_id||'*or event'}}</div>
</div>
<nav>
    <div class="btn" ui-sref="giver.dashboard.offers.edit.step2">Next step <img src="assets/right_arrow.svg" alt="">
    </div>
</nav>